<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Name transliterate</title>
</head>
<body>
  <h3>Upload your file</h3>
  <form method="POST" action="/" enctype="multipart/form-data"> 
  <!-- Take input file from users -->
    <input type="file" name="file">
     <!-- upload File -->
    <input type="submit" value="upload">
  </form>
  
  <% if (link == "none") {} else { %>
    <a href="<%= link %>"><%= link %></a>
  <% } %>
</body>
</html>
